body {
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    align-items: center;
    background-color:#c9c9c9;
    color:#ececec;
}

.modeselect {
    display: contents;
    justify-content: center;
}

.modeholder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset;
    justify-content: center;
    align-items: center;
}

.modebutton {
    margin: 10px;
    border-radius: 12.5px;
    background-color: #929292;
    border: none;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: #ececec;
    width: 495px;
}

.projectsboard {
    display: contents;
    width: 100vw;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.projectrow {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: left;
    align-items: left;
    border: #929292;
    color: #ececec;
    padding: 10px;
    font-size: 25px;
    gap: 10px;
    border-top-style: groove;
}